<h1>Registre-se</h1>
<form action="/registerResponse" method="POST">
    <div>
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" placeholder="Digite seu nome">
    </div>
    <div>
        <label for="occupation">Ocupação</label>
        <input type="text" name="occupation" id="occupation" placeholder="Digite sua ocupação">
    </div>
    <div>
        <label for="newsletter">Newsletter
            <input type="radio" name="newsletter" id="newsletter" value="false">Não
            <input type="radio" name="newsletter" id="newsletter" value="true">Sim
        </label>
    </div>
    <button type="submit">Registrar</button>
</form>