<h1>Dashboard</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum officia non, molestiae nam porro odio, voluptate, itaque debitis exercitationem voluptatum accusantium rem optio provident fuga eligendi vero ad! Nam, placeat?</p>
{{#if auth}}
    <h2>Usuário logado!</h2>

    <ul>
        {{#each approvedUsers}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <a href="#">Acesse a área de membros</a>
{{else}}
    <h2>Usuário NÃO logado!</h2>
    <a href="#">Acesse a área de login</a>
{{/if}}