<h1>Crie seu pensamento</h1>
<form action="/add" method="POST" class="form-container">
    <div>
        <label for="title">Pensamento</label>
        <input type="text" name="title" id="title" required placeholder="Digite o seu pensamento">
    </div>
    <button type="submit">Criar</button>
</form>