<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro Loja</title>
</head>
<body>
    <h1>Cadastre um produto</h1>
    <form action="/stores/save" method="POST">
        <div>
            <label for="store">Loja</label>
            <input type="text" name="store" id="store" placeholder="Nome da loja">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>