<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="POST" class="form-control">
    <div>
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Digite o título" required>
    </div>
    <div>
        <label for="pageqty">Páginas</label>
        <input type="number" name="pageqty" id="pageqty" placeholder="Quantidade de páginas" required>
    </div>
    <button type="submit">Cadastrar</button>
</form>