@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

main{
    min-height: 82.3vh;
    grid-template-columns: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.mainContainer{
    margin-top: 4rem;
}

.title{
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
}

.title::after{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(233, 155, 124, 0.933);
    position: absolute;
    bottom: 5px;
    left: -5px;
    border-radius: .2rem;
    z-index: -1;
}

.underMessage{
    margin-top: 10px;
}

.underMessage > a{
    color: rgba(233, 155, 124, 0.933);
    text-decoration: underline;
    transition: .3s;
}

.underMessage > a:hover{
    color: rgba(250, 92, 30, 0.933)
}