<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Toughts</title>
</head>
<body>
    <header class="header-main">
        <a href="/">
            <h1 class="title-main">Toughts</h1>
        </a>
        <nav class="nav-main">
            <ul>
                <li>
                    <a href="#">Contato</a>
                </li>
                <li>
                    <a href="#">Sobre</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-main">
        {{{body}}}
    </main>
    <footer class="footer-main">
        <p>Direitos reservados. Emanuel Fontoura</p>
    </footer>
</body>
</html>