<h1>Consultar Produtos do Fabricante</h1>
<form action="/fabricante/consult" method="POST">
    <div>
        <label for="name">Fabricante</label>
        <input type="text" name="name" id="name" placeholder="Digite o nome da fabricante">
    </div>
    <button type="submit">Consultar</button>
</form>