<h1>Consultar quais fabricantes tem o produto</h1>
<form action="/produto/consult" method="POST">
    <div>
        <label for="productName">Produto</label>
        <input type="text" name="productName" id="productName" placeholder="Digite o nome do produto">
    </div>
    <button type="submit">Consultar</button>
</form>