<h1>Resultado da consulta</h1>
<form action="/fabricante/consult" method="POST">
    <div>
        <label for="manufacturerId">Fabricante</label>
        <select name="manufacturerId" id="manufacturerId">
            {{#each manufacturers}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Consultar</button>
</form>