<h1>Bem-vindo!</h1>
<nav>
    <ul>
        <li>
            <a href="/fabricante/cadastrar">Cadastrar fabricante</a>
        </li>
        <li>
            <a href="/produto/cadastrar">Cadastrar produto</a>
        </li>
        <li>
            <a href="/produto/consultar">Consultar quais fabricantes produzem um produto</a>
        </li>
        <li>
            <a href="/fabricante/consultar">Consultar produtos que uma fabricante produz</a>
        </li>
    </ul>
</nav>