<h1>Registrar Fabricante</h1>
<form action="/fabricante/register" method="POST">
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Digite o nome da fabricante">
    </div>
    <button type="submit">Registrar</button>
</form>