@charset "UTF-8";

.bebas-neue-regular {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    color: #F2C53D;
}

.header-main{
    background-color: #222;
    padding: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-main{
    font-size: 2rem;
    text-decoration: underline;
}

.nav-main ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-main ul li a{
    font-size: 1.5rem;
    transition-duration: .3s;
}

.nav-main ul li a:hover{
    text-decoration: underline;
}

.main-main{
    padding: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.footer-main{
    padding: 1.5rem;
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main a{
    background-color: #222;
    padding: 7.5px;
}