<h1>Seja bem-vindo!</h1>
<nav>
    <ul>
        <li>
            <a href="/">Início</a>
        </li>
        <li>
            <a href="/livros/cadastro">Cadastre um livro</a>
        </li>
        <li>
            <a href="/livros/buscar">Encontre um livro</a>
        </li>
        <li>
            <a href="/livros/deletar">Delete um livro</a>
        </li>
    </ul>
</nav>