<h1>Seja bem-vindo!</h1>
<nav>
    <ul>
        <li>
            <a href="/livros/cadastrar">Cadastre um livro</a>
        </li>
        <li>
            <a href="/livros/cadastrados">Livros cadastrados</a>
        </li>
    </ul>
</nav>